body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {

}
header {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 17px;
    
}
    header > img {
        display: inline-block;
        width: 160px;
        float: left;
        margin: 20px 120px;
    }
    header > li {
        display: inline-block;
        width: 40%;
        margin-top: 50px;
    }
            li > a {
                margin-left: 20px;
                text-decoration: none;
                color: black;
            }
    header > ol {
        display: inline-block;
        width: 20%;
        margin-top: 50px;
    }
.hero {
    display: inline-block;
    background-image: url(../img/hero_bg_2.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: bottom center;
    }
    .hero > .container {
        display: inline-block;
        padding: 0 calc( (100% - 800px) / 2);
        color: white;
        text-align: center;
    }
        .hero > .container > h1 {
            display: inline-block;
            margin-top: 250px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 80px;
            text-shadow: 10px 10px 20px black;
        }
        .hero > .container > p{
            display: inline-block;
            font-size: 20px;
            padding-top: 40px;
            padding-bottom: 60px;
            text-shadow: 5px 5px 10px black;
            line-height: 150%;
        }
main {
    display: inline-block;
}
section {
    display: inline-block;
}
footer {

}